:root {
    --value: 14px 16px ;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
header {
    overflow: hidden;
}
nav ul {
    list-style-type: none ;

}
nav li {
    float: left;

}
nav a {
    display: block;
    padding: var(--value);
    text-decoration: none;
    color: black;
}
nav a:hover {
    background-color: rgb(230, 213, 192);
}
#about p {
    text-align: justify;
    margin: 10px;
}
.itemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    text-align: center;
    border: 3px solid;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    border-color: rgb(163, 110, 110);
}
.item:hover{
    background-color: rgb(219, 224, 228);
}
.item button::before {
    content: '₱' ;
}
@media screen and (max-width: 710px) {
    body{
        margin: 5px;
    }
    .item{
        padding: 50px;

    }
    .item button {
        font-size: 15px;
        
    }
}